.cada {
  width: 92%;
  height: 4px;
  list-style: none;
  display: flex;
  justify-content: center;
}

.button {
  margin: 3px;
  padding: 5px;
  background-color: burlywood;
  border-radius: 5px;
  border: 1px solid burlywood;
  color: white;
}
.button:hover {
  background-color: lightblue;
  color: white;
}

.nav {
  position: fixed;
  bottom: 0;
  margin: 0px;
  width: 100%;
}
